.tennguoicmt {

    
    margin-left: 40;
}
.noidungcmt {
    border: solid 4px black;
    margin-left: 80px;
}

.conteinercmt{
    display: flex;
}
.img {
    width: 100%;
}
.something{
    background-color: black;
    height: 70px;
}
.text{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}